<html class="indexHtml" ang="zh-CN"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台管理</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Cache-Control" content="no-transform">
    <link rel="stylesheet" type="text/css" href="/lemon/css/index.css">
    <link rel="stylesheet" type="text/css" href="/lemon/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="/lemon/css/alert.css">
</head>
<body class="indexBody">
	<input name="projectId" value="4" type="hidden">
<div class="con-wripper">
 <div class="con-top clearfix">
        <div class="left-top f-l">
            <div class="logo-top f-l">
            </div>
            <div class="modname-top f-l">API RUNNER</div>
        </div>
        <div class="right-top f-r">
            <div class="srch-top f-l">
                <input class="ipt-top" placeholder="搜索分组/项目/接口" type="text">
            </div>
            <div class="handle-top f-l">
                <i class="icon-top icon-collect"></i>
                <i class="icon-top icon-plus"></i>
                <i class="icon-top icon-doubt"></i>
            </div>
           <div class="ctr-top f-l">
                <div class="btn_stretch">
                    <a class="header-top"></a>
                    <i class="icon-arrow"></i>
                </div>
                <ul class="ctrlist-top">
                    <li class="pctr-top">
                        <a href="#">个人中心</a>
                    </li>
                    <li class="quit-top">
                        <a href="javascript:logout()">退出</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>    <div class="nav-interlist">
        <ul class="clearfix">
            <li class="active"><a href="#">接口</a></li>
            <li><a href="projectSet.html">设置</a></li>
        </ul>
    </div>
    <div class="main-interlist com-module clearfix">
        <div class="left-interlist f-l" style="height: 297px;">	
            <div class="tab-interlist">
                <div class="tabtype-interlist">
                    <ul class="clearfix">     
                        <li class="active"><a href="index.html">接口列表</a></li>
                        <li><a href="index2.html">测试集合</a></li>
                    </ul>
                </div>
                <div class="srchbox-interlist clearfix">
					<input placeholder="搜索接口" class="input-com f-l" type="text">
					<a href="javascript:;" class="btn-addfl btn-com f-r" id="addfl">添加分类</a>
                </div>
            </div>
            <div class="list-interlist" id="listInter">
                <ul class="type_menu">
                    <li class="active">
                        <div class="menu-interlist">
                            <a href="/lemon/html/apiList.html" target="rightIframe" @click="goAll()">
                                <i class="icon-file"></i>
                                <span>全部接口</span>
                            </a>
                        </div>
                    </li>
                    <li v-for="apiClassification in apiClassificationList">
                        <div class="menu-interlist">
                            <a href="/lemon/html/apiList.html" target="rightIframe" @click="goOne(apiClassification.id)">
                                <i class="icon-file"></i>
                                <span>{{apiClassification.name}}</span>
                                <div class="hanmenu-interlist active" >
                                    <i class="icon-edit" @click="editApiClassification(apiClassification.id)"></i>
                                    <i class="icon-delete" @click="delApiClassification(apiClassification.id)"></i>
                                </div>
                            </a>
                        </div>
                            <!-- 默认展开第一个套件 -->
                        	<ul class="tmenu-interlist active">
                                <!-- 加载此分类下的所有接口 -->
                                <li class="" v-for="api in apiClassification.apiList"> 
                                    <a href="/lemon/html/apiView.html" target="rightIframe" @click="goToApi(api.id)">
                                        <!-- api.name这里显示不出来 原因:上层的ul标签没有active属性,所以没有显示出来 -->
                                        {{api.name}}  
                                        <div class="hantmenu-interlist active" >
                                            <i class="icon-delete" @click="delApi(api.id)"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
       	<iframe class="rightIframe f-l" name="rightIframe" src="/lemon/html/apiList.html" onload="loadFrame(this);" scrolling="yes" style="height: 297px;" frameborder="0"></iframe>
    </div>
    <!-- 添加分类窗口 -->
    <form id="addClassification">
        <div class="dialog-addinter">
            <div class="line-addinter form_control clearfix">
                <label><span>*</span>分类名称：</label>
                <input placeholder="分类名称" class="required" data-valid="isNonEmpty" data-error="内容不能为空" name="name" type="text">
                <span class="valid_message"></span>
            </div>
            <div class="line-addinter form_control clearfix describe">
                <label>描述：</label>
                <textarea type="text" class="path-addinter" placeholder="描述" name="description"></textarea>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/lemon/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/lemon/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/lemon/js/alert.js"></script>
<script type="text/javascript" src="/lemon/js/jquery-validate.js"></script>
<script type="text/javascript" src="/lemon/js/common.js"></script>
<script type="text/javascript" src="/lemon/js/index.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/lemon/js/jquery.cookie.js"></script>
<script>
    function logout(){
	$.ajax({
		//异步请求退出接口
		//将sessionid取出来放到headers中,其中Authorization是后端CustomSessionManager定义的,前端要和后端保持一致
		headers:{"Authorization": $.cookie("sessionId")},
		url: lemon.config.global.apiUrl + "/user/logout",
		type: "get",
		success: function(ret){ //退出成功后,回到登录页面
			if(ret.status=="1" && ret.message=="账号未登录!"){
				location.href = lemon.config.global.rootUrl
								+ "/html/login.html";
			}
		}
	});
}
</script>
<script>
    var myvue = new Vue({
        el: "#listInter", //挂载点
        data: {
           apiClassificationList:[]
        },
        methods: {
            editApiClassification(apiClassificationId){

            },
            //删除api分类
            delApiClassification(apiClassificationId){
                let url = lemon.config.global.apiUrl + "/apiClassification/delApiClassification" + apiClassificationId;
                axios.delete(url,{
                headers:{"Authorization": $.cookie("sessionId")}
            })
            .then(res => {
                if(resposeData.status==0 && resposeData.message=="删除接口分类成功"){
                    location.reload();
                }
            })
            .catch(err => {
                console.error(err); 
            })
            },

            goAll(){
                sessionStorage.removeItem("apiClassificationId");
            },
            goOne(apiClassificationId){
                sessionStorage.setItem("apiClassificationId",apiClassificationId);
            },
            delApi(apiId){

            },
            goToApi(apiId){
                sessionStorage.setItem("apiId",apiId);
            }
        },
        created(){
            let projectId = sessionStorage.getItem("projectId");
            let url = lemon.config.global.apiUrl + "/apiClassification/toIndex";
            axios.get(url,{
                headers:{"Authorization": $.cookie("sessionId")},
                params:{"projectId":projectId,"tabId":1}
            })
            .then(res => {
                let resposeData = res.data; //接收后端返回的结果
                if(resposeData.status==0 && resposeData.data!=null){
                    this.apiClassificationList = resposeData.data;
                }else{
                    location.href = lemon.config.global.rootUrl
									+ "/html/login.html";
                }
            })
            .catch(err => {
                console.error(err); 
            })
        }
    })
</script>
<script type="text/javascript" src="/lemon/js/base.js"></script>

</body></html>